1 ^Download Required^
2 ^The selected save "%s" has missing data that can be downloaded from %s. This download is approximately %s. Would you like to download the save data?^
3 ^No Data^
4 ^The selected save is missing its data, so the server cannot be started.^
5 ^Downloading Archive Data^
6 ^Corrupt Data^
7 ^Extracting Data^
8 ^The archive data is corrupted, so the server cannot be started.^
9 ^Delete data^
10 ^Download Failed^
11 ^Unable to download the archive data. Check your internet connection and try again, or contact the provider of the archive data.^
12 ^Extracting %s... (%s/%s)^
13 ^Scanning %s... Might take some time. (%s files found)^
14 ^UPnP^
15 ^Attempting to forward ports with UPnP...^
16 ^UPnP Failed^
17 ^Failed to forward ports with UPnP! Either enable UPnP on your router, or disable the UPnP setting and set the server ports manually.^
18 ^Disable UPnP to manually set ports.^
19 ^Server Information^
20 ^You're connected to a server hosted by this game client.^
21 ^You're connected to a server hosted by another game client.^
22 ^You're connected to a dedicated server.^
23 ^You're offline.

To connect with other players, select "Host Server" on the menu and uncheck "Offline Mode".^
24 ^If the game client hosting this server closes, everyone will disconnect!^
25 ^!! View Server IP !!^
26 ^Public IP:^
27 ^(fetching public ip...)^
28 ^Private IPs:^
29 ^(local network)^
30 ^(VPN)^
31 ^(Hamachi)^
32 ^(ZeroTier)^
33 ^Copy^
34 ^Copied to clipboard!^
35 ^(could not determine IP - are you offline?)^

36 ^Export Config^
37 ^Exports a config.json file that can be used by FSO.Server.Core to run a standalone version of the Archive server.

If you use this on a different system, you will need to copy the archive data (usually in Content/), TSO game data and possibly adjust paths in the config.json.^
38 ^Use absolute path for archive data^
39 ^Use absolute path for TSO game data^
40 ^Export^
41 ^Export Error^
42 ^Couldn't export config to "%s". Make sure FreeSO has the permission to write to the specified location.^
43 ^Config successfully exported to "%s".^
44 ^Path:^
45 ^Config successfully exported to "%s".

This path has been copied to your clipboard.^
46 ^Can't export configuration without preparing the archive data first. Try running the server within the game client first.^
47 ^Success^

48 ^User List^
49 ^Username^
50 ^Avatar Count^
51 ^Status^
52 ^View Avatars^
53 ^Show IP^
54 ^Ban User^
55 ^Unban User^

56 ^IP Bans^

57 ^Avatars owned by %s^
58 ^Name^
59 ^Lot^

60 ^IP^
61 ^Associated Accounts^
62 ^Unban^
63 ^Ban IP^

64 ^Search: ^

